/* ::::: http://stap.sjtu.edu.cn/internetware2016/style.css ::::: */

.STYLE1 { font-size: 24px; font-weight: bold; color: rgb(0, 0, 128); }
.STYLE11 { color: rgb(0, 0, 102); font-weight: bold; }
body { margin-top: 0px; }
.STYLE29 { color: rgb(0, 0, 0); }
.STYLE30 { font-size: 40px; font-weight: bold; color: rgb(255, 0, 0); }
.STYLE31 { font-size: 18px; font-weight: bold; }
.STYLE32 { font-size: 20px; font-weight: bold; }
table { border: 0px none; }
td { font-family: arial; }
td { font-size: 11.5pt; line-height: 18px; }
